body {
	--content-left-width: calc(35vw);
	background: #fff;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	margin: 0;
}

.debug {
	border: 1px red solid;
}

#resume {
	--page-width: 130ch;
	--left-percent: 0.35;
	--right-percent: 0.65;
	--content-left-width: calc(var(--page-width) * var(--left-percent));
	--content-rigth-width: calc(var(--page-width) * var(--rigth-percent));
	width: var(--page-width);
}

#firstPage {
	display: grid;
	grid-template-columns: 35fr 65fr;
	height: 105.1em;
	max-height: 105.1em;
	overflow: hidden;
}

.gridColumn {
	word-wrap: break-word;
  word-break: break-all;
  max-width: 100%;
}

.noOverflow {
	overflow: hidden;
}

.leftColumnItem {
	display: grid;
	grid-template-columns: 10fr 80fr 10fr;
}

#contentLeft {
	
	display: grid;
	grid-template-rows: 17fr 7fr 18fr 42fr 17fr;
	color: white;
}


#profileImageSquare {
	--picture-width: calc(var(--content-left-width) / 2);
	--square-width: calc(var(--picture-width) - 10%);
	--square-margin-left: calc( (var(--content-left-width) - var(--square-width)) / 2 );
	background-color: #6284a394;
	border: 3px solid white;
	width: var(--square-width);
	height: var(--square-width);
  margin-top: calc(var(--square-margin-left) / 2);
  margin-left: var(--square-margin-left);
	transform: rotate(-45deg);
  overflow: hidden;
}

#profileImagePicture {
  /* background-image: from inline style provided by handlebars */
	background-size: var(--picture-width);
  width: var(--picture-width);
  height: var(--picture-width);
  transform: rotate(45deg);
  margin-top: calc(var(--square-width) / -15);
  margin-left: calc(var(--square-width) / -9);
}

#basics-name {
	font-size: 250%;
	text-align: center;
}

#basics-label {
	font-size: 150%;
	text-align: center;
	text-transform: uppercase;
}




.blueBack {
	background-size: cover;
	background-image: url('assets/left-back.png');
}


/* em {
	color: #999;
}
p {
	line-height: 1.4;
}
ul {
	margin-bottom: 0;
}
section {
	margin-bottom: 2em;
}
blockquote {
	margin: 0;
	margin-bottom: 1em;
}
.item {
	margin-bottom: 1em;
}
#resume {
	margin: 0 auto;
	max-width: 480px;
	padding: 0 20px;
}
#basics {
	margin-bottom: -10px;
}
#basics h3 {
	margin-top: 1.5em;
}
#basics .contact strong,
#location strong {
	clear: both;
	float: left;
	line-height: 1.3;
	width: 120px;
}
#profiles,
#skills {
	overflow: hidden;
}
#profiles .item,
#skills .item {
	float: left;
	width: 50%;
} */

